#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Ustawienie stylu dla paska przewijania */
.scrollable-div::-webkit-scrollbar {
  width: 0px; /* Ustaw szerokość paska przewijania */
}

/* Kolor tła paska przewijania */
.scrollable-div::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Kolor samego paska */
.scrollable-div::-webkit-scrollbar-thumb {
  background-color: #88888800;
}

/* Kolor samego paska w momencie najechania kursorem */
.scrollable-div::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Ustawienie widoczności paska przewijania tylko w momencie najechania kursorem */
.scrollable-div {
  scrollbar-width: auto; /* 'auto' spowoduje, że pasek będzie zawsze widoczny */
  overflow-y: scroll;
}

#main {
  border: solid black 5px;
  width: 360px;
  height: 720px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

#phoneTop,
#phoneBottom {
  height: 3%;
  background-color: rgb(0, 0, 0);
  width: 100%;
}

#phoneContent {
  height: 94%;
  background-color: #111111;
  width: 100%;
  color: white;
  overflow-y: scroll;
}

#phoneContentTopBar {
  margin-top: 40px;
}

#phoneContentAppsBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.AppTime {
  display: flex;
  flex-direction: row;
  width: 98%;
  padding-bottom: 10px;
}

.appIcon {
  width: 40px;
}

.AppTimeLeft,
.AppTimeRight {
  justify-content: center;
  align-items: center;
  display: flex;
}

.AppTimeMiddleTop {
  width: 100%;
  text-align: left;
}

.AppTimeMiddleBottom {
  background-color: #333333;
  border-radius: 20px;
  margin-top: 6px;
  height: 10px;
  width: 99%;
}

.timeBar {
  background-color: #18d986;
  height: 100%;
  border-radius: 20px;
}

.AppTimeLeft {
  width: 15%;
}
.AppTimeMiddle {
  width: 62%;
  padding: 0 5px 0 5px;
}
.AppTimeRight {
  width: 21%;
  padding-top: 21px;
  justify-content: left;
}

.hourglassImage {
  width: 100px;
  margin-top: -20px;
}

.dzisuzywalesfona {
  font-size: 23px;
}

.godzinyDuze {
  margin-top: -20px;
  font-size: 3rem;
}

.AplikacjeHeader {
  margin-left: 5px;
  font-size: 22px;
  line-height: 5px;
}
